node_modules
# Keep environment variables out of version control
.env
.idea/copilot.data.migration.ask2agent.xml
.idea/dataSources.xml
.idea/jsLibraryMappings.xml
.idea/vcs.xml

/generated/prisma
schemas/
